<?xml version="1.0" encoding="UTF-8"?>
<plugin name="common"
        id="dff-cordova-plugin-common"
        spec="2.0.12-0"
        version="2.0.12-0"
        xmlns="http://www.phonegap.com/ns/plugins/1.0">

    <name>Common</name>
    <version>2.0.12-0</version>
    <repo>https://github.com/dff-solutions/dff.CordovaPlugin.Common.git#2.0.12</repo>
    <description>Common Plugin</description>
    <author>dff solutions</author>
    <keywords>phonegap,cordova,common,dff</keywords>

    <js-module name="common" src="www/common.js">
        <clobbers target="CommonPlugin"/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CommonPlugin">
                <param name="android-package" value="com.dff.cordova.plugin.common.CommonPlugin"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <source-file
            src="src/main/java/com/dff/cordova/plugin/common/system/action/SetSystemProperty.java"
            target-dir="src/com/dff/cordova/plugin/common/system/action"/>
        <source-file src="src/main/java/com/dff/cordova/plugin/common/action/CordovaAction.java"
                     target-dir="src/com/dff/cordova/plugin/common/action"/>
        <source-file src="src/main/java/com/dff/cordova/plugin/common/log/AbstractLogListener.java"
                     target-dir="src/com/dff/cordova/plugin/common/log"/>
        <source-file src="src/main/java/com/dff/cordova/plugin/common/log/LogListenerInterface.java"
                     target-dir="src/com/dff/cordova/plugin/common/log"/>
        <source-file src="src/main/java/com/dff/cordova/plugin/common/log/LogListener.java"
                     target-dir="src/com/dff/cordova/plugin/common/log"/>
        <source-file src="src/main/java/com/dff/cordova/plugin/common/log/CordovaPluginLog.java"
                     target-dir="src/com/dff/cordova/plugin/common/log"/>
        <source-file
            src="src/main/java/com/dff/cordova/plugin/common/service/action/ServiceAction.java"
            target-dir="src/com/dff/cordova/plugin/common/service/action"/>
        <source-file
            src="src/main/java/com/dff/cordova/plugin/common/service/action/UnbindService.java"
            target-dir="src/com/dff/cordova/plugin/common/service/action"/>
        <source-file
            src="src/main/java/com/dff/cordova/plugin/common/service/action/BindService.java"
            target-dir="src/com/dff/cordova/plugin/common/service/action"/>
        <source-file
            src="src/main/java/com/dff/cordova/plugin/common/service/CommonServicePlugin.java"
            target-dir="src/com/dff/cordova/plugin/common/service"/>
        <source-file src="src/main/java/com/dff/cordova/plugin/common/service/ServiceHandler.java"
                     target-dir="src/com/dff/cordova/plugin/common/service"/>
        <source-file src="src/main/java/com/dff/cordova/plugin/common/AbstractPluginListener.java"
                     target-dir="src/com/dff/cordova/plugin/common"/>
        <source-file src="src/main/java/com/dff/cordova/plugin/common/CommonPlugin.java"
                     target-dir="src/com/dff/cordova/plugin/common"/>
        <source-file src="src/main/java/com/dff/cordova/plugin/common/action/Action.java"
                     target-dir="src/com/dff/cordova/plugin/common/action"/>
        <source-file src="src/main/java/com/dff/cordova/plugin/common/interfaces/Executable.java"
                     target-dir="src/com/dff/cordova/plugin/common/interfaces"/>
        <framework custom="true" src="build-common-plugin.gradle" type="gradleReference"/>
    </platform>
</plugin>
